@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,700,700italic&subset=latin,cyrillic-ext);
/* reset -------------------------- */
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
th,
dfn,
del {
  font-weight: normal;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
fieldset,
img {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  cursor: pointer;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
input[type="search"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
input,
button,
textarea {
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="hidden"],
[hidden],
.hidden {
  display: none;
}
textarea {
  overflow: auto;
  resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
.clearfix {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
a > img {
  vertical-align: bottom;
}
strong,
.strong,
b {
  font-weight: bold;
}
em,
.italic,
i {
  font-style: italic;
}
del,
.del {
  text-decoration: line-through;
}
:focus {
  outline: none;
}
img {
  max-width: 100%;
}
/* tools -------------------------- */
.clear {
  clear: both;
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.clearfix:after,
.wrap:after,
.spanning:after,
.content:after,
.main:after,
aside:after,
section:after,
article:after,
.text:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.align-left {
  float: left !important;
}
.align-right {
  float: right !important;
}
.overflow-hidden {
  overflow: hidden;
  display: block;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
/* common -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trade Gothic';
  src: url('../fonts/trade_gothic_bold_condensed_no-webfont.eot');
  src: url('../fonts/trade_gothic_bold_condensed_no-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/trade_gothic_bold_condensed_no-webfont.woff2') format('woff2'), url('../fonts/trade_gothic_bold_condensed_no-webfont.woff') format('woff'), url('../fonts/trade_gothic_bold_condensed_no-webfont.ttf') format('truetype'), url('../fonts/trade_gothic_bold_condensed_no-webfont.svg#tradegothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  background: #fff;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 106.25%;
  line-height: 1.70588235;
  color: #2d2824;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.main {
  min-height: 100%;
  overflow: hidden;
  padding-top: 52px;
  padding-bottom: 350px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  margin: 0 auto;
  padding: 0 10.10416667%;
}
a {
  color: #0099ff;
  cursor: pointer;
  background: transparent;
}
a:hover {
  text-decoration: none;
}
.error {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.success {
  color: #00cc00 !important;
  border-color: #00cc00 !important;
}
.disabled {
  color: #999999 !important;
  border-color: #999999 !important;
  cursor: default !important;
}
.input-text,
.textarea {
  width: 100%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.textarea {
  font-family: 'Open Sans', sans-serif;
}
.button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* header -------------------------- */
header {
  background: rgba(0,0,0,.8);
  position: fixed;
  z-index: 900;
  height: 53px;
  top: 0;
  left: 0;
  right: 0;
}
header .wrap {
  padding: 0 20px;
  height: 53px;
}
.social-header {
  padding-top: 13px;
  margin-left: 20px;
  height: 52px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.social-header a {
  font-size: 27px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}
.open-menu {
  font-size: 30px;
  line-height: 52px;
  color: #ffffff;
  margin-right: 20px;
  display: none;
  float: right;
}
.open-menu.active {
  color: #fbad2e;
}
nav {
  font: 18px/52px 'Trade Gothic';
  text-transform: uppercase;
  display: block !important;
  float: right;
}
nav li {
  position: relative;
  border-left: 1px solid #2c2725;
  float: left;
}
nav li ul {
  background: #fbad2e;
  position: absolute;
  top: 100%;
  min-width: 100%;
  left: 0;
  display: none;
  z-index: 99;
  box-shadow: 0 5px 6px rgba(0,0,0,.2);
}
nav li ul li {
  border: 0;
  float: none;
}
nav li ul a {
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 7px;
  white-space: nowrap;
}
nav li ul a:hover {
  background: #eea022;
}
nav li:first-child {
  border: 0;
}
nav li:hover a {
  background: #fbad2e;
}
nav li:hover ul {
  display: block;
}
nav a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 0 30px;
}
nav span {
  -moz-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  -webkit-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 53s ease infinite;
  -moz-animation: AnimationName 53s ease infinite;
  -o-animation: AnimationName 53s ease infinite;
  animation: AnimationName 53s ease infinite;
  line-height: 22px;
  padding: 0 4px;
  display: inline-block;
  position: relative;
}
nav span:before {
  content: "";  
  -moz-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  -webkit-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 53s ease infinite;
  -moz-animation: AnimationName 53s ease infinite;
  -o-animation: AnimationName 53s ease infinite;
  animation: AnimationName 53s ease infinite;
  top: -2px;
  left: 0;
  right: 0;
  position: absolute;
  height: 2px;
}
nav .last-menu a {
  background: #fbad2e;
}
.partners {
  background: #000;
  position: relative;
  display: block;
  clear: both;
  border-top: 1px solid #625b58;
  height: 107px;
  margin: 0 0 -159px;
  padding: 0 50px;
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.partners-image {
  text-align: center;
  line-height: 107px;
}
.partners-image img {
  vertical-align: middle;
  margin: 0 auto;
}
.slick-next,
.slick-prev {
  background: transparent;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  height: 34px;
  width: 30px;
  border: 0;
}
.slick-prev {
  left: 10px;
}
.slick-prev:before {
  content: "";
  position: absolute;
  background: #fbad2e;
  top: 3px;
  left: 10px;
  width: 2px;
  height: 17px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slick-prev:after {
  content: "";
  position: absolute;
  background: #fbad2e;
  bottom: 3px;
  left: 10px;
  width: 2px;
  height: 17px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.slick-next {
  right: 10px;
}
.slick-next:before {
  content: "";
  position: absolute;
  background: #fbad2e;
  top: 3px;
  left: 14px;
  width: 2px;
  height: 17px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.slick-next:after {
  content: "";
  position: absolute;
  background: #fbad2e;
  bottom: 3px;
  left: 14px;
  width: 2px;
  height: 17px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* footer -------------------------- */
footer {
  background: url(../images/footer.png) repeat;
  text-align: center;
  height: 350px;
  margin-top: -350px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer a {
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
footer .wrap {
  background: url(../images/footer-bg.png) no-repeat bottom center;
  height: 350px;
  padding: 0 20px;
  padding-top: 170px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.social-footer {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 6px 36px;
  width: 140px;
}
.social-footer a {
  font-size: 27px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
}
.social-footer a:first-child {
  margin-left: 0;
}
.footer-promo,
.contact-link {
  font: 18px/18px 'Trade Gothic';
  text-transform: uppercase;
  text-decoration: none;
}
.footer-promo {
  background: #fbad2e;
  line-height: 22px;
  margin: 0 7.08333333%;
  padding: 0 4px;
  position: relative;
}
.footer-promo:before {
  content: "";
  background: #fbad2e;
  top: -2px;
  left: 0;
  right: 0;
  position: absolute;
  height: 2px;
}
/* content -------------------------- */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-play:before {
  content: "\f04b";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.logo-box {
  background-position: center;
  text-align: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: 100%;
  min-height: 700px;
  margin: 0 0 130px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.logo-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}
.play-video-link {
  font: 48px/63px 'Trade Gothic';
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto 50px;
  width: 270px;
  height: 56px;
  -moz-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  -webkit-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 53s ease infinite;
  -moz-animation: AnimationName 53s ease infinite;
  -o-animation: AnimationName 53s ease infinite;
  animation: AnimationName 53s ease infinite;
}
.lib-donate {
  font: 48px/63px 'Trade Gothic';
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto 50px;
  width: 270px;
  height: 56px;
  -moz-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  -webkit-background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background: linear-gradient(270deg, #fb5c02, #1f2524, #37c828);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 53s ease infinite;
  -moz-animation: AnimationName 53s ease infinite;
  -o-animation: AnimationName 53s ease infinite;
  animation: AnimationName 53s ease infinite;

  display: none;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.logo-item-box {
  background: rgba(0,0,0,.2);
  min-height: 700px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lb-item,.lb-item .logo-item-box,.lb-item .lib {
  height: 550px !important;
  min-height: 550px !important;
}
.lb-item .logo {
  margin-bottom: 0 !important;
}
.lib {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding-top: 158px;
  min-height: 700px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
}
.logo {
  display: block;
  position: relative;
  z-index: 5;
  padding: 0 20px;
  margin-bottom: 80px;
}
.logo img {
  height: auto;
}
.social-logo a {
  font-size: 27px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  z-index: 5;
}
.promo {
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  height: 960px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 0 120px;
}
.promo iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.show-video {
  font: 55px/45px 'Trade Gothic';
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  width: 312px;
  height: 90px;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -156px;
}
.show-video span {
  background: #fbad2e;
  text-align: center;
  line-height: 82px;
  width: 90px;
  height: 90px;
  margin: -4px 25px 0 0;
  float: left;
}
.show-video em {
  font-size: 30px;
  color: #ffffff;
}
.show-video:before {
  content: "";
  background: #fbad2e;
  top: -33px;
  right: -33px;
  width: 70px;
  height: 1px;
  position: absolute;
}
.show-video:after {
  content: "";
  background: #fbad2e;
  top: -33px;
  right: -33px;
  width: 1px;
  height: 70px;
  position: absolute;
}
.about {
  display: block;
  clear: both;
  padding: 0 13.4375%;
}
.about h1 {
  font: 55px/55px 'Trade Gothic';
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 54px;
}
.about h2 {
  font: 24px/24px 'Trade Gothic';
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.about-text p {
  margin-bottom: 20px;
}
.separator {
  background: url(../images/shadow.png) no-repeat top center;
  text-align: center;
  display: block;
  clear: both;
  height: 131px;
  margin: 0 0 130px;
}
.separator span {
  display: inline-block;
  width: 50px;
  position: relative;
  margin-bottom: -73px;
}
.separator span:before {
  content: "";
  position: absolute;
  background: #fbad2e;
  top: 0;
  left: 0;
  width: 1px;
  height: 70px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.separator span:after {
  content: "";
  position: absolute;
  background: #fbad2e;
  top: 0;
  right: 0;
  width: 1px;
  height: 70px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.page-title {
  text-align: center;
  display: block;
  clear: both;
  padding: 0 20px;
}
.page-title h2 {
  font: 55px/55px 'Trade Gothic';
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}
.page-title h3 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 100px;
}
.people {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 105px;
  float: left;
}
.people img {
  float: left;
}
.people-text {
  display: block;
  margin: 0 65px 0 240px;
}
.people-text h2 {
  font: 38px/38px 'Trade Gothic';
  margin: 0 0 8px;
}
.people-text h3 {
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  font-weight: bold;
  color: #919191;
  margin-bottom: 20px;
}
.people-text h3 strong {
  color: #0099ff;
}
.support {
  display: block;
  clear: both;
}
.support-text {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding: 0 20px;
}
.support-text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 35px;
}
.support-bottom {
  text-align: center;
  display: block;
  clear: both;
  margin-bottom: 110px;
  padding-top: 50px;
}
.support-bottom a {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  width: 150px;
}
.support-bottom img {
  margin: 0 60px -25px;
  height: 79px;
}
.team {
  display: block;
  clear: both;
}
.team .page-title h2 {
  margin-bottom: 105px;
}
.team .people-text h3 {
  font-style: normal;
  margin-bottom: 25px;
}
.support-sponsors h2 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 56px;
  text-align: center;
}
.ss-slider {
  padding: 0 50px;
  height: 250px;
  display: block;
  position: relative;
  overflow: hidden;
}
.ss-slider .slick-list {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  max-width: 1680px;
  margin: 0 auto;
}
.ss-item {
  text-align: center;
  border: 1px solid #ececec;
  line-height: 240px;
  height: 238px;
  margin-left: -1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.ss-item a {
  display: block;
}
.ss-item a img {
  vertical-align: middle;
}
.ss-item img {
  vertical-align: middle;
}
.talk {
  text-align: center;
  display: block;
  clear: both;
}
.talk .page-title {
  margin-bottom: 130px;
}
.talk-box {
  text-align: left;
  display: inline-block;
  max-width: 498px;
  margin: 0 56px 20px;
  vertical-align: top;
}
.talk-box img {
  margin-bottom: 20px;
}
.talk-box h2 {
  font: 34px/34px 'Trade Gothic';
  margin-bottom: 10px;
}
.talk-box h2 a {
  text-decoration: none;
  color: #2d2824;
}
.talk-box p {
  font-size: 18px;
  line-height: 1;
  color: #919191;
  margin-bottom: 15px;
}
.talk-box span {
  font-size: 18px;
  display: block;
  color: #2d2824;
  margin-bottom: 20px;
}
.read-more {
  font-size: 18px;
  color: #fbad2d;
}
.contact {
  text-align: center;
  display: block;
  clear: both;
  margin: 0 0 85px;
}
.send-mail {
  vertical-align: top;
  display: inline-block;
  max-width: 368px;
  margin: 0 5.72916667% 50px 20px;
}
.send-mail span {
  font-size: 77px;
  color: #fbad2e;
  margin-bottom: 40px;
}
.send-mail h2 {
  font: 55px/52px 'Trade Gothic';
  margin-bottom: 25px;
  text-transform: uppercase;
}
.mailto-first {
  font-size: 18px;
  margin-bottom: 40px;
  display: inline-block;
}
.mailto-second {
  background: #fbad2e;
  font: 33px/90px 'Trade Gothic';
  text-decoration: none;
  color: #ffffff;
  display: block;
  clear: both;
  height: 85px;
}
.contact-separator {
  vertical-align: top;
  display: inline-block;
  width: 73px;
  height: 73px;
  position: relative;
  margin-top: 133px;
}
.contact-separator:before {
  content: "";
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #e2e2e2;
  width: 1px;
  height: 100px;
  position: absolute;
  top: -12px;
  left: 36px;
}
.contact-separator:after {
  content: "";
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #e2e2e2;
  width: 1px;
  height: 100px;
  position: absolute;
  top: -12px;
  right: 36px;
}
.subscribe {
  vertical-align: top;
  display: inline-block;
  max-width: 368px;
  min-width: 368px;
  margin: 0 20px 50px 5.72916667%;
}
.subscribe span {
  font-size: 77px;
  color: #fbad2e;
  margin-bottom: 40px;
}
.subscribe h2 {
  font: 55px/52px 'Trade Gothic';
  margin-bottom: 93px;
  text-transform: uppercase;
}
.subscribe .input-text {
  font-size: 17px;
  color: #7c7c7c;
  width: 75%;
  height: 87px;
  border: 1px solid #e5e5e5;
  margin-right: -1px;
  padding: 0 30px;
}
.subscribe .button {
  background: #fbad2e;
  width: 25%;
  height: 87px;
  border: 1px solid #e5e5e5;
  float: left; 
}
.subscribe .button i {
  color: #fff;
  font-size: 24px;
}
.text {
  margin: 0 auto 25px;
  padding: 0 0 40px;
  max-width: 982px;
  border-bottom: 1px solid #e2e2e2;
}
.text h1 {
  font: 49px/0.97 'Trade Gothic';
  color: #2d2824;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.date {
  font-size: 18px;
  line-height: 1.2777777778;
  color: #919191;
  margin-bottom: 25px;
}
.aligncenter {
  display: block;
  clear: both;
  margin: 0 auto 50px;
}
.alignleft {
  margin: 0 20px 50px 0;
  float: left;
}
.alignright {
  margin: 0 0 50px 20px;
  float: right;
}
.text p,.text ul,.text ol {
  font-size: 18px;
  line-height: 1.6;
  color: #2d2824;
  margin: 0 0 30px;
}
.essb_network_name {
  display: none !important;
}
.essb_links {
  border-top: 1px solid #e2e2e2;
  margin: 50px 0 0 !important;
  padding: 40px 0 0;
}
.essb_links.essb_template_grey-blocks-retina li, .essb_links.essb_template_grey-blocks-retina li a, .essb_links.essb_template_grey-blocks-retina li a .essb_icon, .essb_links.essb_template_grey-blocks-retina li a, .essb_links.essb_template_grey-blocks-retina li a .essb_network_name {
  margin: 0 0 -3px;
}
.essb_links.essb_template_grey-blocks-retina li a {
  text-align: center;
  line-height: 52px !important;
  width: 52px !important;
  height: 52px !important;
  padding: 0 !important;
}
.pagination {
  max-width: 982px;
  margin: 0 auto 50px;
  padding: 0 0 25px;
  border-bottom: 1px solid #e2e2e2;
}
.pagination a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2d2824;
  float: left;
}
.prev-link {
  float: left;
} 
.prev-link span {
  font-size: 30px;
  margin: -4px 10px 0 0;
  float: left;
}
.next-link {
  float: right;
} 
.next-link span {
  font-size: 30px;
  margin: -3px 0 0 10px;
  float: right;
}
.pagination a:hover {
  color: #fbad2e;
}
#facebook_comments {
  max-width: 982px;
  margin: 0 auto 50px;
}
.comment {
  max-width: 982px;
  margin: 0 auto 40px;
}
.comment h2 {
  font: 49px/0.97 'Trade Gothic';
  color: #2d2824;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.fb_iframe_widget_fluid span {
  width: 100% !important;
}
.popup-hide {
  overflow: hidden;
}
.popup {
  clear: both;
  padding: 0 0 30px;
}
.popup-list {
  text-align: center;
}
.popup-list .slick-slide {
  padding: 0 5px;
  height: 338px;
}
.popup-box {
  background: #fff;
  text-align: center;
  width: 390px;
  height: 558px;
  display: inline-block;
  margin: 0 5px 70px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
.popup-box img {
  display: block;
  height: 260px;
}
.popup-box span {
  display: table;
  width: 100%;
  height: 260px;
  vertical-align: middle;
  border: 1px solid #dbdbdb;
  border-top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: -40px;
}
.popup-box span p {
  font-size: 17px;
  line-height: 1.6470588235;
  color: #2d2824;
  display: table-cell;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 50px;
  height: 260px;
}
.donate-link {
  font: 30px/82px 'Trade Gothic';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 78px;
  border: 0;
  max-width: 334px;
  margin: 0 auto;
  width: 100%;
  display: block;
}
.pb-1 .donate-link {
  background: #adc557;
}
.pb-2 .donate-link {
  background: #57c6d7;
}
.pb-3 .donate-link {
  background: #f56a57;
}
.pb-4 .donate-link {
  background: #fbad2e;
}
.price {
  font: 36px/150px 'Trade Gothic';
  color: #fff;
  text-align: center;
  width: 144px;
  height: 144px;
  margin: -199px auto 55px;
  position: relative;
}
.price em {
  font-style: normal;
  position: relative;
  z-index: 5;
}
.price i {
  position: absolute;
  width: 110px;
  height: 110px;
  border-width: 3px;
  border-style: solid;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -58px 0 0 -58px;
}
.price:before {
  position: absolute;
  content: '';
  top: 72px;
  left: 0;
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
}
.price:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
}
.pb-1 .price:before {
  border-top: 72px solid #adc557;
}
.pb-1 .price i {
  border-color: #adc557;
}
.pb-2 .price:before {
  border-top: 72px solid #57c6d7;
}
.pb-2 .price i {
  border-color: #57c6d7;
}
.pb-3 .price:before {
  border-top: 72px solid #f56a57;
}
.pb-3 .price i {
  border-color: #f56a57;
}
.pb-4 .price:before {
  border-top: 72px solid #fbad2e;
}
.pb-4 .price i {
  border-color: #fbad2e;
}
.pb-1 .price:after {
  border-bottom: 72px solid #adc557;
}
.pb-2 .price:after {
  border-bottom: 72px solid #57c6d7;
}
.pb-3 .price:after {
  border-bottom: 72px solid #f56a57;
}
.pb-4 .price:after {
  border-bottom: 72px solid #fbad2e;
}
.popup-text {
  clear: both;
  margin: 0 auto 30px;
  max-width: 1400px;
  padding: 0 20px;
}
.popup-text h2 {
  font: 54px/1 'Trade Gothic';
  color: #2d2824;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 60px;
}
.popup-text h3 {
  font: 24px/1 'Trade Gothic';
  color: #2d2824;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  margin: 0 0 20px;
}
.two-line {
  max-width: 1200px;
  margin: 0 auto;
}
.popup-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #2d2824;
  margin: 0 0 30px;
}
.close-popup {
  position: relative;
  width: 102px;
  height: 102px;
  margin: 0 auto 95px;
  display: block;
}
.close-popup:before {
  background: #fff;
  position: absolute;
  content: '';
  width: 2px;
  height: 102px;
  top: 0;
  left: 50px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-popup:after {
  background: #fff;
  position: absolute;
  content: '';
  width: 2px;
  height: 102px;
  top: 0;
  right: 50px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.your-amount {
  background: #fbad2e;
  font: 30px/82px 'Trade Gothic';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 78px;
  border: 0;
  max-width: 388px;
  margin: 0 auto;
  width: 100%;
  display: block;
}
/* media -------------------------- */
@media (max-width: 1300px) {
  .wrap {
    padding: 0 5%;
  }
}
@media (max-width: 1500px) {
  .people {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .wrap {
    padding: 0 20px;
  }
}
@media (max-width: 1000px) {
  .people h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .people h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .people p {
    font-size: 14px;
  }
}
@media (max-width: 980px) {
  .send-mail,
  .subscribe {
    margin: 0 auto 50px;
  }
  .contact-separator {
    display: block;
    clear: both;
    margin: 0 auto 50px;
  }
  .send-mail,
  .subscribe {
    display: block;
  }
}
@media (max-width: 800px) {
  nav {
    background: #fbad2e;
    display: none !important;
    position: absolute;
    top: 52px;
    right: 0;
    z-index: 997;
  }
  nav.active {
    display: block !important;
  }
  nav:before {
    content: "";
    position: absolute;
    border-bottom: 5px solid #fbad2e;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    right: 29px;
  }
  nav li {
    display: block;
    float: none;
    border: 0;
  }
  nav li ul {
    left: inherit;
    top: 0;
    right: 100%;
  }
  nav li:hover > a,
  nav li:hover a span {
    background: #eea022;
  }
  nav li:hover > a:before,
  nav li:hover a span:before {
    content: "";
    background: #eea022;
  }
  .open-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .about-text {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -moz-column-rule: none;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    -webkit-column-rule: none;
    column-count: 1;
    column-gap: 0;
    column-rule: none;
  }
  .about-text p {
    margin-bottom: 30px;
  }
  .people {
    text-align: center;
    margin-bottom: 70px;
  }
  .people img {
    display: block;
    margin: 0 auto 20px;
    float: none;
  }
  .people-text {
    margin: 0;
  }
  .people p {
    text-align: left;
  }
  .support-bottom a {
    display: block;
    margin: 0 auto 34px;
  }
  .support-bottom img {
    margin: 0 auto 20px;
  }
  .talk-box {
    display: block;
  }
}
@media (max-width: 479px) {
  .page-title h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .logo-box,.logo-item-box,.lib {
    height: 600px !important;
    min-height: 600px !important;
  }
  .contact {
    margin-left: 20px;
    margin-right: 20px;
  }
  footer .wrap {
    padding-top: 150px;
  }
  .social-footer {
    display: block;
    margin: 0 0 20px;
    width: auto;
  }
  .subscribe {
    min-width: inherit;
  }
  #video {
    display: none;
  }
  .popup-list .slick-slide{
    padding: 0 50px;
  }
  .popup-box span p {
    font-size: 18px;
  }
  .popup-text h2 {
    line-height: 1;
  }
  .popup-text h3 {
    font-size: 20px;
    line-height: 1.3;
  }
}
