/*
Theme Name: flushrevolution
Theme URI: http://www.heartbeat.ua/
Author: heartbeat
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: flushrevolution
*/
.lib-donate {
display: none;
}
.issue-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: center;
flex-wrap: wrap;
}
.issue-content li {
	width: 33%;
min-width: 314px;
}
.issue-content img {
height: 176px;
flex-shrink: 0;
}
.hb {
	display: block;
	background: url(images/hb.png) no-repeat;
	width: 78px;
	height: 23px;	
margin: 88px auto 0;
}

.main nav {
	position: relative;
}
.main form {
	width: 110px;
	position: absolute;
	top: 0;
	right: 0;
}
.paypal {
	font: inherit;
	display: block;
	background: #fbad2e;
	font-size: 18px;
	line-height: 16px;
	padding-top: 10px;
	padding-bottom: 7px;
	white-space: nowrap;
	width: 109px;
	height: 52px;
	border: none;
	color: #fff;
}